<div class="review">
  <div class="review-box">
    <% if current_user == review.user %>
    <div class="delete-review btn btn-xs btn-info">
    <%= link_to 'Delete', product_review_path(@product, review),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
    <p class="rating">Rating: <%= review.rating %></p>
    <p class="description"><%= review.description %></p><p class="user">  - <%= review.user.first_name %></p>
  </div>
</div>